In [2]:
import pandas as pd
from itertools import combinations
from collections import Counter

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [5]:
data.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [6]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [8]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [9]:
data = data.dropna(subset=['Description'])

In [10]:
data=data.dropna(subset=['CustomerID'])

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

In [12]:
data.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [13]:
data=data.drop_duplicates()

In [14]:
data.loc[:,'UnitPrice']=data['UnitPrice'].fillna(0)

In [15]:
data.loc[:,'InvoiceDate']=pd.to_datetime(data['InvoiceDate'],errors='coerce')

In [16]:
data.loc[:,'InvoiceDate']=data.dropna(subset=['InvoiceDate'])

In [17]:
data['CA']=data['UnitPrice']*data['Quantity']

In [18]:
CA_par_pays=data.groupby('Country')['CA'].sum()

In [19]:
best_seller=data.groupby('InvoiceNo')['Quantity'].sum().head()

In [20]:
client_unique=data['CustomerID'].nunique()

In [21]:
print(client_unique)

4372

In [22]:
panier_moyen=data.groupby('InvoiceNo')['CA'].mean()

In [23]:
print(panier_moyen)

InvoiceNo
536365         19.874286
536366         11.100000
536367         23.227500
536368         17.512500
536369         17.850000
               ...
C581484   -168469.600000
C581490       -16.265000
C581499      -224.690000
C581568       -54.750000
C581569        -3.750000
Name: CA, Length: 22190, dtype: float64

In [24]:
panier_median=data.groupby('InvoiceNo')['CA'].median()

In [25]:
print(panier_median)

InvoiceNo
536365         20.340
536366         11.100
536367         18.875
536368         14.850
536369         17.850
              ...
C581484   -168469.600
C581490       -16.265
C581499      -224.690
C581568       -54.750
C581569        -3.750
Name: CA, Length: 22190, dtype: float64

In [26]:
#client ayant acheter un seul produit
client_1produit=data.groupby('CustomerID')['InvoiceNo'].nunique()

In [27]:
print(client_1produit)

CustomerID
12346.0     2
12347.0     7
12348.0     4
12349.0     1
12350.0     1
           ..
18280.0     1
18281.0     1
18282.0     3
18283.0    16
18287.0     3
Name: InvoiceNo, Length: 4372, dtype: int64

In [28]:
produit_unique=data.groupby('InvoiceNo')['StockCode'].agg(list)

In [49]:
frequent_acheter_ensemble=produit_unique.apply(lambda x:combinations(set(x),2))

In [50]:
paires_frequentes = pd.Series([pair for sublist in frequent_acheter_ensemble for pair in sublist]).value_counts().head(5)

In [31]:
client_fidele=data.groupby('CustomerID')['InvoiceDate'].nunique().sort_values(ascending=False).head()

In [32]:
print(client_fidele)

CustomerID
14911.0    248
12748.0    225
17841.0    168
14606.0    129
15311.0    118
Name: InvoiceDate, dtype: int64

In [33]:
client_actif=data.groupby('CustomerID')['InvoiceNo'].apply(lambda x : x.nunique()).sort_values(ascending=False).head(1)

In [34]:
print(client_actif)

CustomerID
14911.0    248
Name: InvoiceNo, dtype: int64

In [35]:
nb_my_article=data.groupby('CustomerID')['StockCode'].nunique().sum()

In [36]:
print(nb_my_article)

267615

In [52]:
article_chere=data['UnitPrice'].max()

In [53]:
print(article_chere)

38970.0

In [39]:
# Si InvoiceNo est numérique (et les retours sont négatifs)
retours = data[pd.to_numeric(data['InvoiceNo'], errors='coerce') < 0]

# Vérification
print(f"Nombre de retours trouvés : {len(retours)}")

Nombre de retours trouvés : 0

In [40]:
print(retours)

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, CA]
Index: []

In [41]:
ca_mensuel = data.resample('ME', on='InvoiceDate')['CA'].sum()
print(ca_mensuel)

C:\Users\Ce pc\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\groupby\grouper.py:381: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  ax = Index(obj[key], name=key)

InvoiceDate
2010-12-31     552372.860
2011-01-31     473731.900
2011-02-28     435534.070
2011-03-31     578576.210
2011-04-30     425222.671
2011-05-31     647011.670
2011-06-30     606862.520
2011-07-31     573112.321
2011-08-31     615078.090
2011-09-30     929356.232
2011-10-31     973306.380
2011-11-30    1126815.070
2011-12-31     341539.430
Freq: ME, Name: CA, dtype: float64

In [42]:
ca_commandes = data.groupby(['Country', 'InvoiceNo'])['CA'].sum()

In [43]:
print(ca_commandes)

Country      InvoiceNo
Australia    536389        358.25
             537676        258.90
             539419        348.20
             540267       7011.38
             540280        143.00
                           ...
Unspecified  559929        252.05
             561658        344.80
             561661        195.33
             563947        252.90
             564051        278.13
Name: CA, Length: 22190, dtype: float64

In [44]:

data['CA'] = data['Quantity'] * data['UnitPrice']


ca_par_commande = data.groupby(['Country', 'InvoiceNo'])['CA'].sum().reset_index()


panier_moyen_par_pays = ca_par_commande.groupby('Country')['CA'].mean().round(2)

print(panier_moyen_par_pays)

Country
Australia               1985.65
Austria                  534.44
Bahrain                  274.20
Belgium                  343.79
Brazil                  1143.60
Canada                   611.06
Channel Islands          608.38
Cyprus                   642.94
Czech Republic           141.54
Denmark                  893.72
EIRE                     783.70
European Community       258.35
Finland                  465.14
France                   429.31
Germany                  367.35
Greece                   785.09
Iceland                  615.71
Israel                  1164.73
Italy                    307.10
Japan                   1262.16
Lebanon                 1693.88
Lithuania                415.26
Malta                    250.55
Netherlands             2818.43
Norway                   879.09
Poland                   300.55
Portugal                 414.23
RSA                     1002.31
Saudi Arabia              65.58
Singapore                912.04
Spain                    521.49
Sweden                   795.34
Switzerland              785.06
USA                      247.27
United Arab Emirates     634.09
United Kingdom           339.79
Unspecified              332.60
Name: CA, dtype: float64

In [54]:
# correlation totale article et montant totale
commandes = data.groupby('InvoiceNo').agg(
    total_articles=('Quantity', 'sum'),
    montant_total=('CA', 'sum')
)

print(commandes.head())
correlation = commandes['total_articles'].corr(commandes['montant_total'])
print(f"Corrélation entre articles/commande et montant : {correlation:.2f}")

           total_articles  montant_total
InvoiceNo
536365                 40         139.12
536366                 12          22.20
536367                 83         278.73
536368                 15          70.05
536369                  3          17.85
Corrélation entre articles/commande et montant : 0.91

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  object
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
 8   CA           401604 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 30.6+ MB

In [61]:
#taux de retention
# commande par client
commande=data.groupby('CustomerID')['InvoiceNo'].nunique()
nombre_client=len(commande)
client_recurent=sum(commande>1)
retention=(client_recurent/nombre_client)*100
print(retention)

69.967978042086

In [ ]:
delais = data.groupby('CustomerID')['InvoiceDate'].apply(
    lambda x: x.sort_values().diff().dt.days.mean() if len(x) > 1 else None
)

In [63]:
data_valid = data[(data['Quantity'] > 0) & (data['UnitPrice'] > 0)].copy()
data_valid['CA'] = data_valid['Quantity'] * data_valid['UnitPrice']

best_clients = data_valid.groupby('CustomerID')['CA'].agg(['sum', 'count']).rename(columns={'sum': 'CA_total', 'count': 'nb_transactions'}).sort_values('CA_total', ascending=False).head(11)
print(best_clients)

             CA_total  nb_transactions
CustomerID
14646.0     280206.02             2076
18102.0     259657.30              431
17450.0     194390.79              336
16446.0     168472.50                3
14911.0     143711.17             5670
12415.0     124914.53              714
14156.0     117210.08             1395
17511.0      91062.38              963
16029.0      80850.84              241
12346.0      77183.60                1
16684.0      66653.56              277

In [64]:
transactions_par_client = data.groupby('CustomerID')['InvoiceNo'].nunique()
clients_1_transaction = sum(transactions_par_client == 1)
total_clients = len(transactions_par_client)
pourcentage = (clients_1_transaction / total_clients) * 100
print(pourcentage)

30.032021957913997

In [65]:
data_clean=data[(data['Quantity']>0) & (data['UnitPrice'] >0)].copy()
data_clean['CA']=data_clean['Quantity']*data_clean['UnitPrice']
produit_rentable=data_clean.groupby(['StockCode','Description'])['CA'].sum().sort_values(ascending=False).head(10)
print(produit_rentable)

StockCode  Description
23843      PAPER CRAFT , LITTLE BIRDIE           168469.60
22423      REGENCY CAKESTAND 3 TIER              142264.75
85123A     WHITE HANGING HEART T-LIGHT HOLDER    100392.10
85099B     JUMBO BAG RED RETROSPOT                85040.54
23166      MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POST       POSTAGE                                77803.96
47566      PARTY BUNTING                          68785.23
84879      ASSORTED COLOUR BIRD ORNAMENT          56413.03
M          Manual                                 53419.93
23084      RABBIT NIGHT LIGHT                     51251.24
Name: CA, dtype: float64

In [66]:
#les retours
retour=data[data['Quantity']<0].copy()
print(len(retour))

8872

In [67]:

produit_ensemble=data.groupby("InvoiceNo")["StockCode"].agg(list)
prod_en_nettoyer=produit_ensemble.apply(lambda x:combinations(set(x),2))
paires_frequentes = pd.Series([pair for sublist in prod_en_nettoyer for pair in sublist]).value_counts().head(5)
print(paires_frequentes)

(22386, 85099B)    549
(20725, 20727)     509
(22384, 20727)     467
(23300, 23301)     464
(22383, 20727)     456
Name: count, dtype: int64

In [ ]:
import pandas as pd
from datetime import datetime

# RFM
df_clean = data[(data['Quantity'] > 0) & (data['UnitPrice'] > 0)].copy()
df_clean['CA'] = df_clean['Quantity'] * df_clean['UnitPrice']

# Convertir la date en datetime
df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'])

now=datetime.now()

rfm=data_clean.groupby('CustomerID').agg(Recency=('InvoiceDate', lambda x: (now - x.max()).days),
    Frequency=('InvoiceNo','nunique'),
    Monetary=('CA','sum'))

rfm['Segment']='Occasionnel'

rfm.loc[
    (rfm['Recency'] < 30) & 
    (rfm['Frequency'] > 5) & 
    (rfm['Monetary'] > 500), 'Segment'
] = 'VIP'

rfm.loc[
        (rfm['Recency'] < 60) & 
        (rfm['Frequency'] > 2)  
                    ,'Segment']='REGULIER'

rfm.loc[(rfm['Recency']>90) 
       ,'Segment']='À risque'